$primary-color: #117fcf;
$secondary-color: #5C83F0;
$constrast-color: #620CF0;
$dark-primary-color: #293741;
$white : #f4f4f2;
$light-black: #333333;
$bg-color: #657273;

//FONTS
$primary-text-font: 'Roboto', sans-serif;
$text-font-style: "DM Sans", sans-serif;

.bg-primary {
    background-color: $primary-color;
}

.text-primary {
    color: $primary-color;
}

.text-contrast {
    color: $constrast-color;
}

.bg-contrast {
    background-color: $constrast-color;
}

.bg-secondary {
    background-color: $secondary-color;
}

.text-secondary {
    color: $secondary-color;
}

.bg-dark-primary {
    background-color: $dark-primary-color;
}

.text-dark-primary {
    color: $dark-primary-color;
}

.primary-text-font {
    font-family: $primary-text-font;
}

.bg-main {
    background-color: $bg-color;
}

.custom-shadow {
    box-shadow: none;
}

@media (min-width: 768px) {
    .custom-shadow {
        box-shadow: 10px 10px 5px 0px rgba(117, 114, 114, 0.75);
    }
}

.custom-arrow svg path {
    fill: grey;
}

@media (max-width: 767px) {
    .custom-arrow svg path {
        fill: grey;
    }
}

html {
    scroll-behavior: smooth;
}

