$primary-color: #117fcf;
$secondary-color: #6B6256;
$dark-primary-color: #293741;

$primary-text-font: 'Roboto', sans-serif;

.bg-primary {
    background-color: $primary-color;
}

.text-primary {
    color: $primary-color;
}

.bg-secondary {
    background-color: $secondary-color;
}

.text-secondary {
    color: $secondary-color;
}

.bg-dark-primary {
    background-color: $dark-primary-color;
}

.text-dark-primary {
    color: $dark-primary-color;
}

.primary-text-font {
    font-family: $primary-text-font;
}